html {
	margin:0;
	padding:0;
	border:0;
  font-family: monospace;
  font-size: 13px;
}

#markdown_rendered_content {
  font-size: 1.2em;
}

#markdown_rendered_content a {
  color: orange;
}

#markdown_rendered_content pre {
  background-color: #113;
  margin-left: 10%;
  margin-right: 10%;
  width 80%;
  padding: 10px;
  height: 150px;
  overflow: auto;
}

body {
	line-height: 1.5;
	background: #000033;
  color: #CCFF33;
}

a img {
  border: none; }

a {
  text-decoration : none; 
  color: #CCFFFF;
}

a:hover {
  font-weight: bold;
}

li.menu_list {
 list-style-type: none;
 font-size: 20px;
}

li a {
  color: #CCFF33;
}

p#question {
  font-size: 3em;
  margin-left: 10px;
}

p.error_msg {
  color: red;
  font-size: 2em;
  margin-left: 10px;
}

input#pwd_input {
  font-size: 3em;
  width: 400px;
  margin-left:100px;
  background: transparent;
  color: yellow;
  border: 0px;
  outline: none;
}

#login_form div {
  position: relative;
}

#login_form div #letterViewer {
  display: none;
  position: absolute;
  left: 20px;
  top: -23px;
  width: 100px;
  font: bold 72px Helvetica, Sans-Serif;
}

#the_box {
  background:#000033;
  color: #CCFF33;
  border: 0px;
  background: transparent;
  font-family: monospace;
  outline: none;
  resize: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
}


